<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h2>Invites:</h2>
<ul>
  <% @user.invites.each do |invite| %>
    <li>
      <%= invite.event.title %>
      <%= link_to 'accept', invite_path(invite, attending: true), method: :put  %>
    </li>
  <% end %>

</ul>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
