<p id="notice"><%= notice %></p>

<p>
  <strong>Starts on:</strong>
  <%= @event.starts_on %>
</p>

<p>
  <strong>Ends on:</strong>
  <%= @event.ends_on %>
</p>

<p>
  <strong>Host:</strong>
  <%= @event.host_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>




<h2>Invite someone:</h2>

<%= form_tag('/invites') do %>
  <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :email) %>
  <%= hidden_field_tag :event_id, @event.id %>
  <%= submit_tag 'invite user' %>
<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
